<!-- Page Content -->

<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top"
      ><img src="../../assets/images2.png" alt=""
    /></a>
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      Menu
      <i class="fas fa-bars ml-1"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#team">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-primary" (click)="show()">
            Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header>
  <div class="overlay"></div>
  <video
    playsinline="playsinline"
    autoplay="autoplay"
    muted="muted"
    loop="loop"
  >
    <source
      src="../../assets/pexels-taryn-elliott-7172276.mp4"
      type="video/mp4"
    />
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <!-- <h1 class="display-3">Video Header</h1>
        <p class="lead mb-0">With HTML5 Video and Bootstrap 4</p> -->
      </div>
    </div>
  </div>
</header>

<section id="gallery">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Gallery</h2>
      <h6 style="color: grey">
        Gallery Pages are the foundation of any Format site. They allow you to
        display your visual work in a stunning gallery of images.
      </h6>
    </div>
    <div class="gallery">
      <img
        src="https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
        alt=""
      />
      <img
        src="https://images.unsplash.com/photo-1484723091739-30a097e8f929?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Zm9vZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        alt=""
      />
      <img
        src="https://images.unsplash.com/photo-1481671703460-040cb8a2d909?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzZ8fGZvb2R8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        alt=""
      />
      <img
        src="https://images.unsplash.com/photo-1563805042-7684c019e1cb?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTl8fGZvb2R8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        alt=""
      />
      <img
        src="https://images.unsplash.com/photo-1615837136007-701de6015cfb?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA3fHxmb29kfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        alt=""
      />
      <img
        src="https://images.unsplash.com/photo-1568051243851-f9b136146e97?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjMxfHxmb29kfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        alt=""
      />
      <img
        src="https://images.unsplash.com/photo-1585238342024-78d387f4a707?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHBpenphfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        alt=""
      />
      <img
        src="https://images.unsplash.com/photo-1591636687027-a157c53387cd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80"
        alt=""
      />
      <img
        src="https://images.unsplash.com/photo-1507133750040-4a8f57021571?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y29mZmVlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        alt=""
      />
      <img
        src="https://images.unsplash.com/photo-1512058556646-c4da40fba323?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTh8fHJpY2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
        alt=""
      />
      <img
        src="https://images.unsplash.com/photo-1562967914-608f82629710?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bnVnZ2V0fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        alt=""
      />
      <img
        src="https://images.unsplash.com/photo-1616813769023-d0557572ddbe?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDV8fGluZGlhbiUyMGZvb2R8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        alt=""
      />
      <img
        src="https://images.unsplash.com/photo-1565958011703-44f9829ba187?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fGZvb2R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
        alt=""
      />

      <img
        src="https://images.unsplash.com/photo-1514537099923-4c0fc7c73161?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTR8fGZvb2R8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        alt=""
      />
      <img
        src="https://images.unsplash.com/photo-1587536849024-daaa4a417b16?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTI4fHxmb29kfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        alt=""
      />
      <img
        src="https://images.unsplash.com/photo-1525059696034-4967a8e1dca2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTU0fHxmb29kfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        alt=""
      />
      <img
        src="https://images.unsplash.com/photo-1581252926832-61fd89c80c9e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTYwfHxmb29kfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        alt=""
      />
      <img
        src="https://images.unsplash.com/photo-1530554764233-e79e16c91d08?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTg4fHxmb29kfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        alt=""
      />
      <img
        src="https://images.unsplash.com/photo-1579684947550-22e945225d9a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHBhc3RhfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        alt=""
      />
      <img
        src="https://images.unsplash.com/photo-1484980972926-edee96e0960d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fGZvb2R8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        alt=""
      />
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Specials</h2>
    </div>
    <div class="tabs">
      <div class="tab-2">
        <label for="tab2-1">Appetizers</label>
        <input id="tab2-1" name="tabs-two" type="radio" checked="checked" />
        <div class="row">
          <div class="row">
            <div class="col-lg-8 details order-2 order-lg-1">
              <h3>Indian Map Thali</h3>
              <p class="fst-italic">
                “A Thali as Map Of India? Yes We are serving this very unique
                and delicious Thali based on a concept of diversity of cuisine
                ..
              </p>
            </div>
            <div class="col-lg-4 text-center order-1 order-lg-2">
              <img
                src="../../assets/specials/imagest.jpg"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>

          <div class="row">
            <div class="col-lg-8 details order-2 order-lg-1">
              <h3>Giant Pizza</h3>
              <p class="fst-italic">
                White pizza with garlic infused olive oil, goat cheese from
                Jumpin’ Good Goat Dairy, mozzarella fior di latte and organic,
                locally raised Shitake mushrooms from Hazel Dell (Featured in
                Denver Magazine, 100 things to taste, October 2010)
              </p>
            </div>
            <div class="col-lg-4 text-center order-1 order-lg-2">
              <img
                src="../../assets/specials/pizza.jpg"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 details order-2 order-lg-1">
              <h3>Pancake</h3>
              <p class="fst-italic">
                Many people like to eat their pancakes with a drizzle of maple
                syrup. ...A bolognese is the quintessential red meat sauce for a
                reason, and no bolognese tastes quite as good as this recipe.
              </p>
            </div>
            <div class="col-lg-4 text-center order-1 order-lg-2">
              <img
                src="../../assets/specials/pancake.jpg"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 details order-2 order-lg-1">
              <h3>Pasta</h3>
              <p class="fst-italic">
                A bolognese is the quintessential red meat sauce for a reason,
                and no bolognese tastes quite as good as this recipe.
              </p>
              <p>
                Et nobis maiores eius. Voluptatibus ut enim blanditiis atque
                harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut
                molestiae aut qui. Est repellat minima eveniet eius et quis
                magni nihil. Consequatur dolorem quaerat quos qui similique
                accusamus nostrum rem vero
              </p>
            </div>
            <div class="col-lg-4 text-center order-1 order-lg-2">
              <img
                src="../../assets/specials/index1.jpg"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 details order-2 order-lg-1">
              <h3>Samosa</h3>
              <p class="fst-italic">
                A samosa (/səˈmoʊsə/) is a South Asian fried or baked pastry
                with a savory filling, such as spiced potatoes, onions, peas,
                beef and other meats, or lentils. ...
              </p>
            </div>
            <div class="col-lg-4 text-center order-1 order-lg-2">
              <img
                src="../../assets/specials/index.jpg"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="tab-2">
        <label for="tab2-2">Two</label>
        <input id="tab2-2" name="tabs-two" type="radio" />
        <div>
          <h4>Tab Two</h4>
          <p>
            Quisque sit amet turpis leo. Maecenas sed dolor mi. Pellentesque
            varius elit in neque ornare commodo ac non tellus. Mauris id iaculis
            quam. Donec eu felis quam. Morbi tristique lorem eget iaculis
            consectetur. Class aptent taciti sociosqu ad litora torquent per
            conubia nostra, per inceptos himenaeos. Aenean at tellus eget risus
            tempus ultrices. Nam condimentum nisi enim, scelerisque faucibus
            lectus sodales at.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Recipes</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-image">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/buxYmKuSzww"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
          <!-- card image -->

          <div class="card-content">
            <span class="card-title">Will my credits transfer?</span>
          </div>
          <!-- card content -->
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-image">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/3vRshidqBLY"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
          <!-- card image -->
          <div class="card-content">
            <span class="card-title">Do I have to live on campus?</span>
          </div>
          <!-- card content -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-image">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/Sfj_pW22FA8"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
          <!-- card image -->

          <div class="card-content">
            <span class="card-title">How can I pay for college?</span>
          </div>
          <!-- card content -->
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-image">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/aGKMwZS6zCM"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
          <!-- card image -->

          <div class="card-content">
            <span class="card-title">Will I fit in?</span>
          </div>
          <!-- card content -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-image">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/X-Z6mtWvXM4"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
          <!-- card image -->

          <div class="card-content">
            <span class="card-title">Transfer Price</span>
            <button
              type="button"
              id="show"
              class="btn btn-custom pull-right"
              aria-label="Left Align"
            >
              <i class="fa fa-ellipsis-v"></i>
            </button>
          </div>
          <!-- card content -->

          <div class="card-reveal">
            <span class="card-title">Transfer Price</span>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
            <p>
              Here is some more information about this product that is only
              revealed once clicked on.
            </p>
          </div>
          <!-- card reveal -->
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 text-lg-left">Copyright © Your Website 2020</div>
      <div class="col-lg-4 my-3 my-lg-0">
        <a class="btn btn-dark btn-social mx-2" href="#!"
          ><i class="fab fa-twitter"></i
        ></a>
        <a class="btn btn-dark btn-social mx-2" href="#!"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a class="btn btn-dark btn-social mx-2" href="#!"
          ><i class="fab fa-linkedin-in"></i
        ></a>
      </div>
      <div class="col-lg-4 text-lg-right">
        <a class="mr-3" href="#!">Privacy Policy</a>
        <a href="#!">Terms of Use</a>
      </div>
    </div>
  </div>
</footer>

<!-- /.container -->
